<mat-toolbar color="primary">
    <span>Easy Apply</span>
     <span class="remaining-space"></span>
     <button mat-icon-button>
       <mat-icon (click)="onClose()">close</mat-icon>
     </button>
</mat-toolbar>
<form novalidate [formGroup]="easyForm" (ngSubmit)="applyjob()">
  <div mat-dialog-content class="padding-top-14 mat-dialog-content">
    <mat-form-field class="input">
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Phone number" formControlName="phone" />
    </mat-form-field>
    <ng2-file-input [id]="'SupportedDcouments'" (onAction)="onAction($event)" extensions="['pdf','docx']"
     [browse-text]="'Browse'" [remove-text]="'Click to remove'"></ng2-file-input>
    <input type="hidden" name="fileHidden" formControlName="document"/>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="submit">Save</button>
  </div>
</form>
