@import ".././node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import ".././node_modules/ng2-file-input/ng2-file-input.css";
/* You can add global styles to this file, and also import other style files */
html,body {
  margin:0;
  font-family: "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,0.87);
}
.btn-brand{
    background-color: #179ede;
    color: #fff !important;
    font-weight: 400;
}
.text-medium, strong {
    font-weight: 500 !important;
}
.title{
    color: #179ede;
    border-bottom: 1px solid #eee;
    padding: 16px 20px;
    display: flex;
    margin-bottom: 0px;
    font: 300 16px Roboto,sans-serif !important;
}
.ng2-file-input-drop-container .btn{
  background-color: #039be5;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px
}
.mat-dialog-content{
  padding: 14px 24px !important;
}
.mt4{
    margin-top: 16px !important;
}
.lh5{
  line-height: 20px;
}
.text-xl {
    font-size: 150%;
}
.text-center{
  text-align: center;
}
.opacity-75 {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.text-light {
    font-weight: 300;
}
.error{
  text-align: left;
  color: red;
}
.page-wrapper{
  width: 75%;
  top:0px;
  position: relative;
}
.mat-sidenav-content{
  padding-right: 20px !important;
}
.text-left{
    text-align:left
}
.mat-icon-button {
    line-height: 12px !important;
}
.ml4{
  margin-left: 14px;
}
@media(max-width:1024px){
  .card-wrapper{
    width:98%;
    margin: 0 auto;
  }
}
.card-wrapper{
    position: relative;
    top: 0px;
}
.card-wrapper > mat-card{
  margin-bottom: 20px;
  padding: 0px !important;
}
.full-wrapper{
  width:95%;
  margin: 0 auto;
  padding-top: 20px;
}
.right-wrapper{
  margin-left: 2%;
}
.p2{
  padding: 2%;
}
.mb-16{
  margin-bottom:16px;
}
ul{
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
